language: node_js

# set this variable to false to force Travis to build our app inside of a docker container!
sudo: false

# node_modules can be cached in between builds
cache:
  directories:
    - node_modules

# whitelist of branches that will trigger a build
branches:
  only:
    - master

# Install all dependencies.
install:
  - npm set progress=false
  - npm install -g @angular/cli
  - npm install

# the actual build script. Compiles our app into a dist folder.
script:
  # build regular appshell
  #- ng build --prod
  - ng build

deploy:
  provider: heroku
  api_key:
    secure: "e1fc3f1c-c5bb-4285-bfa4-aa1b7ec2cd32"
  app: quizmaster-dashboard
  on:
    branch: master
