<h1>{{ form ? 'Update Table' : 'New Table'}}</h1>

<div class="options-list">
  <div class="form-field name">
    <label for="name">Name: </label>
    <input #form_identifier type="text" placeholder="name" name="form_identifier" id="name" required value="{{form?.form_identifier}}">
  </div>
<div class="action-buttons">
  <div class="action-button create-button"
       (click)="onSubmit(form_identifier.value)">
    <span class="create-icon ss-icon">💾</span><span class="button-label">Add table</span>
  </div>
</div>
</div>
