<h1 class="h1-feed">Add Question</h1>

<div class="options-list">
  <div class="feed-field label">
    <label for="label">Question: </label>
    <input #label type="text" placeholder="name" name="label" id="label" required>
  </div>
  <div class="feed-field label">
    <label for="label">Category: </label>
    <select #category name="category" id="category">
      <option *ngFor="let category of categories" value="{{ category.id }}" [selected]="category.id === question?.categoryId">
        {{ category.name }}
      </option>
    </select>
  </div>
  <div class="action-button create-feed-button"
       (click)="onSubmit(label.value, category.value)">
    <span class="create-icon ss-icon">💾</span><span class="button-label">add</span>
  </div>
</div>
