@font-face {
  font-family: "SSGizmo";
  src: url("https://n2.storied.co/assets/fonts/ss-gizmo/ss-gizmo.eot");
  src: url("https://n2.storied.co/assets/fonts/ss-gizmo/ss-gizmo.eot?#iefix") format("embedded-opentype"),
  url("https://n2.storied.co/assets/fonts/ss-gizmo/ss-gizmo.woff") format("woff"),
  url("https://n2.storied.co/assets/fonts/ss-gizmo/ss-gizmo.ttf") format("truetype"),
  url("https://n2.storied.co/assets/fonts/ss-gizmo/ss-gizmo.svg#SSGizmo") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "League Spartan";
  src: url("https://n2.storied.co/assets/fonts/league-spartan/League-SpartanBold.woff") format("woff"),
  url("https://n2.storied.co/assets/fonts/league-spartan/League-SpartanBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url("https://n2.storied.co/assets/fonts/lato/Lato-Regular.woff")  format("woff");
  font-weight: normal;
  font-style: normal;
}
