.add-column{
  margin-right: 20px;
  margin-top: 52px;
}
.sidenav {
  background-color: white;
  height: 100vh;
  display: inline-block;
  float: left;
  user-select: none;

  .object-list {
    padding: 15px;
    overflow-y: scroll;
    height: calc(100% - 205px);

    > li {
      padding-top: 4vh;
      padding-left: 20px;
      padding-right: 10px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
}

.delete-btn{
  background-color: #a62a28;
  line-height: 50px;
  margin-right: 10px;
}

.fat{
  font-weight: bold;
}

.delete_form{
  width: 195px;
}
.form-list {
  padding: 15px;
  > li {
    padding-top: 3vh;
    cursor: pointer;
    > div:last-of-type {
      display: block;
      float: none;
      font-size: 0.7em;
      padding-top: 5px;
      padding-bottom: 20px;
      color: #666;
    }
  }
}
.delete-row{
  /*margin-top: 52px;*/
  margin-top: 0;
  width: 40px;
  height: 40px;
}

.delete-row > .ss-icon{
  font-size: 19px;
  padding-left: 11px;
  line-height: 50px;
}

.add-row{
  /*margin-top: 52px;*/
  margin-top: 0;
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.add-row > .ss-icon{
  font-size: 19px;
  padding-left: 11px;
  line-height: 50px;
}

li:hover {
  opacity: 0.6;
}
.grid {
  width: 500px;
  height: 250px;
}
h2
{
  margin-left: 250px;
}
.form-info {
  width: calc(100vw - 318px);
  display: block;
  height: 100vh;
  box-sizing: border-box;
  float: right;
}
