<!--create form modal create-->
<div class="link-ad-popup modal " (click)="createModalVisible = false" *ngIf="createModalVisible">
  <div class="content" (click)="$event.stopPropagation()">
    <div class="close-button ss-icon" (click)="createModalVisible = false">&#x2421;</div>
    <app-forms-create (createdOrUpdated)="handleCreatedOrUpdated($event)"></app-forms-create>
  </div>
</div>

<a href="http://forms.storied.co/stage/get/?user_id={{userId}}&form_identifier={{formInfo?.form_identifier}}&type=csv" target="_blank"><button class="action-button embed-code-button exportcsv">Export to CSV</button></a>
  <div class="action-button add-column" (click)="manageColumnModalVisible = true"><span class="ss-icon" title="edit table">&#xE902;</span></div>
<div class="sidenav">
  <app-nav></app-nav>

  <div class="action-button danger-btn data delete_form" (click)="deleteForm()"> Delete a table<span class="delete-form-icon ss-icon">&#xE0D0;</span></div>
  <button class="action-button data" (click)="createModalVisible = true">Add a new table<span class="nav_icon">+</span></button>

  <!--list of all forms-->

  <ul class="object-list form-list">
    <li *ngFor="let _formInfo of formInfos let i = index" (click)="selectForm(_formInfo)"
        [ngClass]="{'selected': _formInfo.form_identifier === formInfo.form_identifier }">
      <div title="{{ _formInfo.form_identifier }}">{{_formInfo.form_identifier}}</div>
      <div class="sub-item">Created: {{_formInfo.form_date | date: 'MM-dd-yy, HH:mm:ss'}}</div>
    </li>
  </ul>
</div>

<section class="form-info" *ngIf="formInfo">
  <div>
    <h1>Form Identifier: {{formInfo.form_identifier}}</h1>
  </div>

  <ul class="object-list formdata-list">


  </ul>
</section>

