.category-list {

  display: inline-block;
  width: 100%;
  font-size: 20px;

  > li {
    padding: 50px;
    color: #666;
    background-color: #eeeeee;
    margin: 20px;
    border: 1px dodgerblue solid;
    border-radius: 4px;
    width: 20%;
    display: inline-block;
    text-align: center;

    &:hover {
      cursor: pointer;
      background-color: #e7e7e7;
    }
  }
}

.admin, h1 {
  padding: 10px;
}

.user-details {
  padding: 15px;
}

.user-logged {
  float: right;
  font-size: 18px;
  background-color: #00ACEC;
  border-radius: 25px;
  padding: 10px 20px;
  box-shadow: 0 3px 8px #ccc;

  &:hover {
    cursor: pointer;
    background-color: #0095cb;
  }

  > .user-logged-letter {
    border: 1px solid white;
    border-radius: 25px;
    width: 20px;
    height: 20px;
    display: inline-block;
    text-align: center;
    color: white;
    padding: 5px;
  }

  > .user-logged-username {
    color: white;
  }
}

.user-logged-logout {
  float: right;
  font-size: 18px;
  background-color: #E5E8E6;
  color: #666;
  border-radius: 25px;
  padding: 15px 30px;
  box-shadow: 0 3px 8px #ccc;
  margin-right: -190px;
  margin-top: 60px;

  &:hover {
    cursor: pointer;
    background-color: #bfbfbf;
  }
}

.login-register{
  text-align: center;

  > .login-register-button{
    color:white;
    font-size: 18px;
    background-color: #00ACEC;
    border-radius: 25px;
    padding: 10px 20px;
    box-shadow: 0 3px 8px #ccc;
    margin-left: 20px;

    > span > a {
      color: white;
    }

    > a{
      color: white;
    }

    &:hover {
      cursor: pointer;
      background-color: #0095cb;
    }
  }

  .login-to-points{
    margin-top: 25px;
    color: #666;
  }
}
