<div class="user-details">
  <div class="login-register" *ngIf="!user" >
    <a class="register login-register-button" routerLink="/register" routerLinkActive="active">
    <span class="register login-register-button"><span class="register ss-icon">🔑</span><span
      class="button-label">Register</span></span></a>
    <a class="login login-register-button" routerLink="/login" routerLinkActive="active">
    <span class="login login-register-button"><span class="register ss-icon">🔑</span><span
      class="button-label">Login</span></span></a>
      <div class="login-to-points">Login to gain points!</div>
  </div>
  <div class="login-register" *ngIf="user">
    <a class="login login-register-button" (click)="showScoreboard=false; showChat=false; quizCompleted=false; chooseCategoryVisible=true; startQuiz=false; startPage=false;">
    <span class="login login-register-button"><span class="chat ss-icon"></span><span
      class="button-label">Quiz</span></span></a>
    <a class="login login-register-button" (click)="showScoreboard=false; showChat=true; quizCompleted=false; chooseCategoryVisible=false; startQuiz=false; startPage=false;">
    <span class="login login-register-button"><span class="chat ss-icon">💬</span><span
      class="button-label">Chat</span></span></a>
    <a class="login login-register-button" (click)="showScoreboard=true; showChat=false; quizCompleted=false; chooseCategoryVisible=false; startQuiz=false; startPage=false;">
    <span class="login login-register-button"><span class="chat ss-icon">📊</span><span
      class="button-label">Scoreboard</span></span></a>
  </div>
  <div class="user-logged" *ngIf="user" (click)="showLogout = showLogout ? false : true">
    <span class="user-logged-username">Welcome, {{ user }}!</span>
    <span class="user-logged-letter">{{ user | capitalize }}</span>
  </div>
  <div class="user-logged-logout" *ngIf="showLogout">
    <span (click)="logout()"><span class="ss-icon">&#xEE02;</span>Logout</span>
  </div>

</div>
<main class="canvas-quiz">
  <section class="choose-category" *ngIf="chooseCategoryVisible">
    <h1>Choose a quiz: </h1>
    <div *ngIf="loadingCategories" class="spinning-for-data"><span>Waiting for quizzes.</span></div>
    <ul class="category-list">
      <li *ngFor="let _category of categories"
          (click)="selectCategory(_category); chooseCategoryVisible=false; startPage=true; loadingData=true;"><span>{{_category.name}}</span>
      </li>
    </ul>
  </section>
  <section class="start-page" *ngIf="!chooseCategoryVisible && !startQuiz && startPage && !quizCompleted">
    <p class="back" title="Go back to quizzes."
       (click)="startPage=false; chooseCategoryVisible=true; clearQuestionsAndAnswers();">&#x2B05;</p>
    <button class="action-button start-button" (click)="startQuiz=true;">Start Quiz about <b>{{ category.name }}</b>
    </button>
  </section>
  <section class="quiz" *ngIf="startQuiz && !quizCompleted">
    <p class="back" title="Go back to start screen." (click)="startQuiz=false; startPage=true;">&#x2B05;</p>
    <h2>Quiz</h2>
    <div class="quiz-text">
      <div *ngIf="loadingData" class="spinning-for-data"><span>Waiting for quiz.</span></div>
      <h3>{{ question.question }}</h3>
      <ul>
        <li *ngFor="let _answer of answers" class="answer-button"
            (click)="validateAnswer(_answer, question); showValidation=true;">
          <span>{{_answer.answer}}</span>
        </li>
      </ul>
      <div *ngIf="showValidation" class="validation-boxes">
        <span class="correct-button a-btn" *ngIf="isCorrect">Correct answer!</span>
        <span class="wrong-button a-btn" *ngIf="!isCorrect">Wrong answer!</span>
      </div>
    </div>
  </section>
  <section class="quiz" *ngIf="quizCompleted">
    <h2>You completed the Quiz!</h2>
    <div class="quiz-text">
      <div *ngIf="loadingData" class="spinning-for-data"><span>Waiting for results.</span></div>
      <h3>Your score is: {{ score }}</h3>
      <div>
        <ul>
          <li class="action-button finish-button" (click)="retake()">Try this quiz again</li>
          <li class="action-button finish-button" (click)="tryAnother()">Choose another quiz</li>
        </ul>
      </div>
    </div>
  </section>
  <section class="quiz" *ngIf="showScoreboard">
    <app-scoreboard></app-scoreboard>
  </section>
  <section class="quiz" *ngIf="showChat">
    <app-chat></app-chat>
  </section>
</main>
