.col > div > ul > li > label{
  text-transform: capitalize;
}

.h1-feed{
  margin-left: 6vh;
}

.spinning {
  width: 30px;
  position: absolute;
  margin-top: -6px;
  margin-left: 10px;
  height: 30px;
  background-image: url('https://n2ps.storied.co/skins/v2/img/v2/settings_preloader.gif');
  background-size: 1.4rem;
  background-position: center;
  background-repeat: no-repeat;
  font-size: 1.35rem;
}
